.main-content
{
  margin-left: 72px;
  min-height: 100vh;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}